## Pandas is Crazy

In [5]:
import pandas as pd

In [6]:
%%time
cast = pd.DataFrame.from_csv('../data/intro/cast.csv', index_col=None)

Wall time: 4.36 s

In [7]:
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

In [9]:
%%time
release_dates = pd.read_csv('../data/intro/release_dates.csv', index_col=None,
                            parse_dates=['date'], infer_datetime_format=True)

Wall time: 1.05 s

In [10]:
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
3                 #Horror  2015          USA 2015-11-20
4                 #Horror  2015           UK 2016-05-16

In [11]:
titles = cast[['title', 'year']].drop_duplicates().reset_index(drop=True)
titles.head()

                    title  year
0         Suuri illusioni  1985
1     Battle of the Sexes  2017
2    Secret in Their Eyes  2015
3              Steve Jobs  2015
4  Straight Outta Compton  2015

In [12]:
# 1. What is the name and year of the very first movie ever made?

titles.sort_values('year').head(1)

             title  year
130478  Miss Jerry  1894

In [13]:

# 1. How many years into the future does the IMDB database list movie titles?

titles.sort_values('year').tail(3)

                 title  year
66884   Clutch Control  2022
165691        Avatar 4  2022
34974    New Rebellion  2023

In [14]:
# 1. How many movies listed in `titles` came out in 1950?

len(titles[titles.year == 1950])

# or: (titles.year == 1950).sum()

901

In [15]:

# 2. What are the 15 most common movie titles in film history?

titles.title.value_counts().head(15)

Hamlet                       17
Macbeth                      15
Carmen                       13
The Outsider                 11
Maya                         11
She                          10
Temptation                   10
Anna Karenina                10
Othello                      10
The Three Musketeers          9
Vengeance                     9
Rage                          9
A Midsummer Night's Dream     9
Blood Money                   9
Bad Blood                     9
Name: title, dtype: int64

In [16]:
# 5. What are the 5 longest movie titles ever?

pd.set_option('max_colwidth', 300)

t = titles.copy()
t['len'] = t.title.str.len()
t = t.sort('len', ascending=False)
t.head()

F:\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,len
174310,"Night of the Day of the Dawn of the Son of the Bride of the Return of the Revenge of the Terror of the Attack of the Evil Mutant Hellbound Flesh Eating Crawling Alien Zombified Subhumanoid Living Dead, Part 5",2011,208
180077,"Night of the Day of the Dawn of the Son of the Bride of the Return of the Revenge of the Terror of the Attack of the Evil, Mutant, Hellbound, Flesh-Eating Subhumanoid Zombified Living Dead, Part 3",2005,196
12993,"Brigitte, Laura, Ursula, Monica, Raquel, Litz, Florinda, Barbara, Claudia, e Sofia le chiamo tutte... anima mia",1974,111
150746,"Film d'amore e d'anarchia, ovvero 'stamattina alle 10 in via dei Fiori nella nota casa di tolleranza...'",1973,104
25811,Those Magnificent Men in Their Flying Machines or How I Flew from London to Paris in 25 hours 11 minutes,1965,104

In [17]:
# 1. How many movies has Judi Dench acted in?

len(cast[cast.name == 'Judi Dench'])

54