In [1]:
import pandas as pd

In [2]:
cast = pd.DataFrame.from_csv('../data/intro/cast.csv', index_col=None)

In [12]:
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

- How many actors/actresses are credited in the movie `Inception`?

- What are the names of the 4 leading character in the movie `Inception` and who plays them?

- How many people have played a role called "The Stranger"?

- How many movies starts with `C`?