In [1]:
import pandas as pd

In [2]:
cast = pd.DataFrame.from_csv('../data/intro/cast.csv', index_col=None)

In [3]:
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

- How many actors/actresses are credited in the movie `Inception`?

In [4]:
len(cast[cast.title == 'Inception'])

77

- What are the names of the 4 leading character in the movie `Inception` and who plays them?

In [5]:
cast[cast.title == 'Inception'].sort_values('n').head(4)[['character', 'name']]

        character                  name
553820       Cobb     Leonardo DiCaprio
806675     Arthur  Joseph Gordon-Levitt
3147755   Ariadne            Ellen Page
882750      Eames             Tom Hardy

- How many people have played a role called "The Stranger"?

In [6]:
c = cast
c = c[c.character == 'The Stranger']
len(c)

206

- How many movies starts with `C`?

In [7]:
titles = cast[['title', 'year']].drop_duplicates().reset_index(drop=True)
t = titles
t = t[t.title.str.startswith('C')]
t = t.sort_values('year', ascending=False)
t.head(10)

                                    title  year
66884                      Clutch Control  2022
140850                      Captain Trips  2020
146514                             Cyborg  2020
134438       Cranium Intel: Magnetism X.3  2020
169547  Church of Bodies: The Kevada Cult  2019
181228                     Captain Marvel  2019
57621           Can You Survive the Night  2019
68844                      Charley Willis  2019
178361                          Clowntown  2019
142715                             Chic 2  2018

In [8]:
len(t)

8488