In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
filename= "../data/kobe/kobe_bryant_shot_data.csv"
df = pd.read_csv(filename, na_values={'shot_made_flag': ''})

In [4]:
df = df.dropna()

In [5]:
df = df.drop([u'action_type', u'game_event_id', u'game_id',
       u'lat', u'lon', u'team_id', u'team_name', u'game_date',
       u'opponent', u'shot_id'], axis=1)

In [6]:
df = df.drop(['loc_x', 'loc_y', 'shot_type', 'shot_zone_area', 'shot_zone_basic', 'shot_zone_range'], axis=1)

In [8]:
df.head()

,combined_shot_type,minutes_remaining,period,playoffs,season,seconds_remaining,shot_distance,shot_made_flag,matchup
1,Jump Shot,10,1,0,2000-01,22,15,0.0,LAL @ POR
2,Jump Shot,7,1,0,2000-01,45,16,1.0,LAL @ POR
3,Jump Shot,6,1,0,2000-01,52,22,0.0,LAL @ POR
4,Dunk,6,2,0,2000-01,19,0,1.0,LAL @ POR
5,Jump Shot,9,3,0,2000-01,32,14,0.0,LAL @ POR

In [13]:
df['home'] = df.matchup.apply(lambda matchup: 0 if '@' in matchup else 1)
df = df.drop(['matchup'], axis=1)

In [14]:
df.head()

,combined_shot_type,minutes_remaining,period,playoffs,season,seconds_remaining,shot_distance,shot_made_flag,home
1,Jump Shot,10,1,0,2000-01,22,15,0.0,0
2,Jump Shot,7,1,0,2000-01,45,16,1.0,0
3,Jump Shot,6,1,0,2000-01,52,22,0.0,0
4,Dunk,6,2,0,2000-01,19,0,1.0,0
5,Jump Shot,9,3,0,2000-01,32,14,0.0,0

In [15]:
df['time_remaining'] = 60 * df['minutes_remaining'] + df['seconds_remaining']
df = df.drop(['minutes_remaining', 'seconds_remaining'], axis=1)

In [16]:
df.head()

,combined_shot_type,period,playoffs,season,shot_distance,shot_made_flag,home,time_remaining
1,Jump Shot,1,0,2000-01,15,0.0,0,622
2,Jump Shot,1,0,2000-01,16,1.0,0,465
3,Jump Shot,1,0,2000-01,22,0.0,0,412
4,Dunk,2,0,2000-01,0,1.0,0,379
5,Jump Shot,3,0,2000-01,14,0.0,0,572

In [19]:
cols = df.columns.tolist()
cols.remove('shot_made_flag')
cols.append('shot_made_flag')

df = df[cols]

In [20]:
df.head()

,combined_shot_type,period,playoffs,season,shot_distance,home,time_remaining,shot_made_flag
1,Jump Shot,1,0,2000-01,15,0,622,0.0
2,Jump Shot,1,0,2000-01,16,0,465,1.0
3,Jump Shot,1,0,2000-01,22,0,412,0.0
4,Dunk,2,0,2000-01,0,0,379,1.0
5,Jump Shot,3,0,2000-01,14,0,572,0.0

In [21]:
filename= "../data/intro/kobe_bryant_shot_data_refined.csv"
df.to_csv(filename, index=False)